.App {
  text-align: center;
  background-color: #5790e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-btn{
  padding: 10px 16px;
  background: #fff;
  border: 0 solid transparent;
  border-radius: 4px;
  font-size: 20px;
  outline-color: transparent;
  color: rgb(55, 65, 81);
  cursor: pointer;
  
}

.app-btn:focus {
  outline-width: 0;
}

.video-con{
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.app-title{
  margin:0;
  padding-top: 12px;
}

.btn-gp{
  width: 650px;
  justify-content: space-between;
  display: flex;
  margin-top: 12px;
}